<a href="https://colab.research.google.com/github/Kiron-Ang/DSC/blob/main/binf_3350_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!python -V

Python 3.10.12

In [10]:
import pandas as pd

url_other_populations = (
  "https://github.com/Kiron-Ang/DSC/blob/main/binf_3350_other_populations.vcf?raw=true"
)
other_populations = pd.read_csv(url_other_populations, sep="\t")

url_puerto_rican_population = (
  "https://github.com/Kiron-Ang/DSC/blob/main/binf_3350_puerto_rican_population.vcf?raw=true"
)
puerto_rican_population = pd.read_csv(url_puerto_rican_population, sep="\t")

def print_preview(df, name):
  print(f"Preview of {name} dataframe:")
  print(df.head())
  print(f"Shape of {name} dataframe: {df.shape[0]} rows, {df.shape[1]} columns")
  print("\n" + "-"*50 + "\n")

print_preview(other_populations, "Other Populations")
print_preview(puerto_rican_population, "Puerto Rican Population")

Preview of Other Populations dataframe:
   #CHROM        POS                        ID REF ALT QUAL FILTER  \
0       1  146648224                 rs4950382   C   T    .   PASS
1       1  159802683  rs3795331;SNP1-158069307   G   A    .   PASS
2       1  161298126            SNP1-159564750   T   G    .   PASS
3       2   21397182                  rs506585   G   A    .   PASS
4       2   21415763             SNP2-21269268   G   A    .   PASS

                                          INFO FORMAT HG00096  ... NA21494  \
0    AC=1423;AF=0.309;AN=4604;set=Intersection     GT     1/0  ...     1/1
1     AC=218;AF=0.047;AN=4636;set=Intersection     GT     0/0  ...     0/0
2  AC=14;AF=3.046e-03;AN=4596;set=Intersection     GT     0/0  ...     0/0
3    AC=3795;AF=0.819;AN=4636;set=Intersection     GT     1/1  ...     1/1
4    AC=3440;AF=0.756;AN=4552;set=Intersection     GT     1/1  ...     1/0

  NA21514 NA21525 NA21527 NA21581 NA21601 NA21608 NA21636 NA21648 NA21718
0     1/0     1/1     0/0     1/1     ./.     1/0     0/0     0/0     0/0
1     0/0     0/0     0/0     0/0     0/0     0/0     0/0     0/0     0/0
2     0/0     0/0     0/0     0/0     0/0     0/0     0/0     0/0     0/0
3     1/1     1/0     1/0     1/0     1/1     1/1     1/1     1/1     1/0
4     1/1     0/0     1/0     1/0     1/1     1/0     1/0     1/1     0/0

[5 rows x 2227 columns]
Shape of Other Populations dataframe: 42 rows, 2227 columns

--------------------------------------------------

Preview of Puerto Rican Population dataframe:
   #CHROM        POS                        ID REF ALT QUAL FILTER  \
0       1  146648224                 rs4950382   C   T    .   PASS
1       1  159802683  rs3795331;SNP1-158069307   G   A    .   PASS
2       1  161298126            SNP1-159564750   T   G    .   PASS
3       2   21397182                  rs506585   G   A    .   PASS
4       2   21415763             SNP2-21269268   G   A    .   PASS

                                          INFO FORMAT HG00551  ... HG01199  \
0    AC=1423;AF=0.309;AN=4604;set=Intersection     GT     0/0  ...     0/0
1     AC=218;AF=0.047;AN=4636;set=Intersection     GT     0/0  ...     0/0
2  AC=14;AF=3.046e-03;AN=4596;set=Intersection     GT     0/0  ...     0/0
3    AC=3795;AF=0.819;AN=4636;set=Intersection     GT     1/1  ...     1/1
4    AC=3440;AF=0.756;AN=4552;set=Intersection     GT     1/1  ...     1/1

  HG01204 HG01205 HG01206 HG01241 HG01242 HG01243 HG01247 HG01248 HG01249
0     0/0     0/0     0/0     1/0     1/0     1/1     1/0     0/0     0/0
1     1/0     0/0     0/0     0/0     0/0     0/0     0/0     0/0     0/0
2     0/0     0/0     0/0     0/0     0/0     0/0     0/0     0/0     ./.
3     1/1     1/1     1/1     1/1     1/0     1/0     1/0     1/1     1/0
4     1/1     1/1     1/1     1/1     1/0     1/0     1/0     1/1     1/0

[5 rows x 109 columns]
Shape of Puerto Rican Population dataframe: 42 rows, 109 columns

--------------------------------------------------